* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #07111f;
    color: white;
    display: flex;
}

.sidebar {
    width: 230px;
    height: 100vh;
    background: #0b1728;
    padding: 25px;
    position: fixed;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar button {
    width: 100%;
    padding: 13px;
    margin: 7px 0;
    border: none;
    border-radius: 8px;
    background: #12243b;
    color: white;
    cursor: pointer;
    text-align: left;
}

.sidebar button:hover {
    background: #1d395c;
}

.status {
    margin-top: 30px;
    padding: 12px;
}

#statusDot {
    color: #00ff88;
}

.main {
    margin-left: 230px;
    width: calc(100% - 230px);
    padding: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

header p {
    color: #8ea5bd;
    margin-top: 5px;
}

header button,
.demo-buttons button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: #1677ff;
    color: white;
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.card {
    background: #0d1d31;
    padding: 22px;
    border-radius: 12px;
    border: 1px solid #19314d;
}

.card h3 {
    color: #8ea5bd;
}

.card h1 {
    margin: 12px 0;
}

.demo-buttons {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.demo-buttons .alertBtn {
    background: #e63946;
}

.message {
    background: #10263d;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.panel {
    background: #0d1d31;
    padding: 22px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 1px solid #19314d;
}

.panel h2 {
    margin-bottom: 18px;
}

.page {
    display: none;
}

#dashboard {
    display: block;
}

input {
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    background: #07111f;
    border: 1px solid #29445f;
    border-radius: 7px;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 13px;
    text-align: left;
    border-bottom: 1px solid #1b3047;
}

th {
    color: #61a5ff;
}

.alert {
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #e63946;
    background: #21151b;
    border-radius: 6px;
}

.normal {
    border-left-color: #00ff88;
    background: #10251d;
}

.high {
    border-left-color: #ff9f1c;
}

.critical {
    border-left-color: #e63946;
    background: #32151a;
}

.networkInfo {
    line-height: 2;
    color: #c7d5e3;
}

@media(max-width: 900px) {

    .sidebar {
        width: 180px;
    }

    .main {
        margin-left: 180px;
        width: calc(100% - 180px);
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
